@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/**
* Importamos los colores
*/
/**
* Mixes
*/
/**
* Importamos los helpers
*/
/**
helpers!
*/
* {
  box-sizing: border-box;
}

* hr {
  border-style: solid;
  border-width: 1px 0 0 0;
}

* img {
  vertical-align: middle;
}

/**
* Backgorund positions
*/
.background-position-bottom {
  background-position: bottom;
}

.background-position-top {
  background-position: top;
}

.background-position-right {
  background-position: right;
}

.background-position-left {
  background-position: left;
}

.background-position-left-bottom {
  background-position: left bottom;
}

.background-position-left-top {
  background-position: left top;
}

.background-position-right-bottom {
  background-position: right bottom;
}

.background-position-right-top {
  background-position: right top;
}

/**
* Backgorund sizes
*/
.background-size-contain {
  background-size: contain;
}

.background-size-cover {
  background-size: cover;
}

/**
* Background opacities
*/
.background-opacity-black-01 {
  background-color: rgba(0, 0, 0, 0.1);
}

.background-opacity-black-02 {
  background-color: rgba(0, 0, 0, 0.2);
}

.background-opacity-black-03 {
  background-color: rgba(0, 0, 0, 0.3);
}

.background-opacity-black-04 {
  background-color: rgba(0, 0, 0, 0.4);
}

.background-opacity-black-05 {
  background-color: rgba(0, 0, 0, 0.5);
}

.background-opacity-black-06 {
  background-color: rgba(0, 0, 0, 0.6);
}

.background-opacity-black-07 {
  background-color: rgba(0, 0, 0, 0.7);
}

.background-opacity-black-08 {
  background-color: rgba(0, 0, 0, 0.8);
}

.background-opacity-black-09 {
  background-color: rgba(0, 0, 0, 0.9);
}

/**
* Floats
*/
.float-right {
  float: right;
}

.float-left {
  float: left;
}

.float-none {
  float: none;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* break words */
.word-wrap-break-word {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

/**
* Forms
*/
.appearance-none {
  appearance: none;
}

/**
* Interactivity - cursors
*/
.cursor-pointer {
  cursor: pointer;
}

.cursor-auto {
  cursor: auto;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

/**
* Interactivity - resize
*/
.resize-none {
  resize: none;
}

.resize-vertical {
  resize: vertical;
}

.resize-horizontal {
  resize: horizontal;
}

/**
* Interactivity - pointer events
*/
.pointer-events-none {
  pointer-events: none;
}

.pointer-events-auto {
  pointer-events: auto;
}

/**
* Interactivity - user select
*/
.user-select-none {
  user-select: none;
}

.user-select-text {
  user-select: text;
}

/**
* Lists
*/
.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

/**
* Overflows
*/
.overflow-hidden {
  overflow: hidden;
}

.overflow-auto {
  overflow: auto;
}

.overflow-visible {
  overflow: visible;
}

.overflow-x-scroll {
  overflow-x: auto;
}

.overflow-y-scroll {
  overflow-y: auto;
}

.overflow-scroll {
  overflow: scroll;
}

/**
* Positioning
*/
.position-static {
  position: static;
}

.position-fixed {
  position: fixed;
}

.position-absolute {
  position: absolute;
}

.position-relative {
  position: relative;
}

.pin-top {
  top: 0;
}

.pin-right {
  right: 0;
}

.pin-left {
  left: 0;
}

.pin-bottom {
  bottom: 0;
}

/**
* Box Shadows
*/
.box-shadow {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.box-shadow-medium {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}

.box-shadow-large {
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.08);
}

.inner-box-shadow {
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
}

.box-shadow-none {
  box-shadow: none;
}

/**
* Z indexs
*/
.z-index-0 {
  z-index: 0;
}

.z-index-10 {
  z-index: 10;
}

.z-index-20 {
  z-index: 20;
}

.z-index-30 {
  z-index: 30;
}

.z-index-40 {
  z-index: 40;
}

.z-index-50 {
  z-index: 50;
}

.z-index-auto {
  z-index: auto;
}

/* Helpers  padding space */
.padding-left-0 {
  padding-left: 0px;
}

.padding-right-0 {
  padding-right: 0px;
}

.padding-top-0 {
  padding-top: 0px;
}

.padding-bottom-0 {
  padding-bottom: 0px;
}

.padding-both-0 {
  padding: 0px;
}

.padding-left-5 {
  padding-left: 5px;
}

.padding-right-5 {
  padding-right: 5px;
}

.padding-top-5 {
  padding-top: 5px;
}

.padding-bottom-5 {
  padding-bottom: 5px;
}

.padding-both-5 {
  padding: 5px;
}

.padding-left-10 {
  padding-left: 10px;
}

.padding-right-10 {
  padding-right: 10px;
}

.padding-top-10 {
  padding-top: 10px;
}

.padding-bottom-10 {
  padding-bottom: 10px;
}

.padding-both-10 {
  padding: 10px;
}

.padding-left-20 {
  padding-left: 20px;
}

.padding-right-20 {
  padding-right: 20px;
}

.padding-top-20 {
  padding-top: 20px;
}

.padding-bottom-20 {
  padding-bottom: 20px;
}

.padding-both-20 {
  padding: 20px;
}

.padding-left-30 {
  padding-left: 30px;
}

.padding-right-30 {
  padding-right: 30px;
}

.padding-top-30 {
  padding-top: 30px;
}

.padding-bottom-30 {
  padding-bottom: 30px;
}

.padding-both-30 {
  padding: 30px;
}

.padding-left-40 {
  padding-left: 40px;
}

.padding-right-40 {
  padding-right: 40px;
}

.padding-top-40 {
  padding-top: 40px;
}

.padding-bottom-40 {
  padding-bottom: 40px;
}

.padding-both-40 {
  padding: 40px;
}

.padding-left-50 {
  padding-left: 50px;
}

.padding-right-50 {
  padding-right: 50px;
}

.padding-top-50 {
  padding-top: 50px;
}

.padding-bottom-50 {
  padding-bottom: 50px;
}

.padding-both-50 {
  padding: 50px;
}

/* Helpers  margin space */
.margin-left-0 {
  margin-left: 0px;
}

.margin-right-0 {
  margin-right: 0px;
}

.margin-top-0 {
  margin-top: 0px;
}

.margin-bottom-0 {
  margin-bottom: 0px;
}

.margin-both-0 {
  margin: 0px;
}

.margin-left-5 {
  margin-left: 5px;
}

.margin-right-5 {
  margin-right: 5px;
}

.margin-top-5 {
  margin-top: 5px;
}

.margin-bottom-5 {
  margin-bottom: 5px;
}

.margin-both-5 {
  margin: 5px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-right-10 {
  margin-right: 10px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-both-10 {
  margin: 10px;
}

.margin-left-20 {
  margin-left: 20px;
}

.margin-right-20 {
  margin-right: 20px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-both-20 {
  margin: 20px;
}

.margin-left-30 {
  margin-left: 30px;
}

.margin-right-30 {
  margin-right: 30px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.margin-both-30 {
  margin: 30px;
}

.margin-left-40 {
  margin-left: 40px;
}

.margin-right-40 {
  margin-right: 40px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

.margin-both-40 {
  margin: 40px;
}

.margin-auto {
  margin: auto;
}

/* opacity */
.opacity-01 {
  opacity: 0.1;
}

.opacity-02 {
  opacity: 0.2;
}

.opacity-03 {
  opacity: 0.3;
}

.opacity-04 {
  opacity: 0.4;
}

.opacity-05 {
  opacity: 0.5;
}

.opacity-06 {
  opacity: 0.6;
}

.opacity-07 {
  opacity: 0.7;
}

.opacity-08 {
  opacity: 0.8;
}

.opacity-09 {
  opacity: 0.9;
}

/*
* Border radius
*/
.border-radius-100 {
  border-radius: 100px;
}

.border-radius-1 {
  border-radius: 1px;
}

.border-radius-2 {
  border-radius: 2px;
}

.border-radius-3 {
  border-radius: 3px;
}

.border-radius-4 {
  border-radius: 4px;
}

.border-radius-5 {
  border-radius: 5px;
}

.border-rounded {
  border-radius: .25rem;
}

.border-rounded-full {
  border-radius: 9999px;
}

.border-rounded-none {
  border-radius: 0;
}

/* border styles */
.border-style-solid {
  border-style: solid;
}

.border-style-dashed {
  border-style: dashed;
}

.border-style-dotted {
  border-style: dotted;
}

.border-style-none {
  border-style: none;
}

/* border widths */
.border-width-1 {
  border-width: 1px;
}

.border-width-2 {
  border-width: 2px;
}

.border-width-3 {
  border-width: 3px;
}

.border-width-4 {
  border-width: 4px;
}

.border-width-5 {
  border-width: 5px;
}

/**
* Displays
*/
.display-block {
  display: block;
}

.display-inline-block {
  display: inline-block;
}

.display-inline,
.display-inline > li {
  display: inline;
}

.display-none {
  display: none;
}

.display-table {
  display: table;
}

.display-table-row {
  display: table-row;
}

.display-table-cell {
  display: table-cell;
}

.display-flex {
  display: flex;
}

.display-inline-flex {
  display: inline-flex;
}

/* other helpers */
.width-100 {
  width: 100%;
}

.height-10vh {
  height: 10vh;
}

.height-20vh {
  height: 20vh;
}

.height-30vh {
  height: 30vh;
}

.height-33vh {
  height: 33.33vh;
}

.height-40vh {
  height: 40vh;
}

.height-50vh {
  height: 50vh;
}

.height-60vh {
  height: 60vh;
}

.height-70vh {
  height: 70vh;
}

.height-80vh {
  height: 80vh;
}

.height-90vh {
  height: 90vh;
}

.height-100vh {
  height: 100vh;
}

.height-10vw {
  height: 10vw;
}

.height-20vw {
  height: 20vw;
}

.height-30vw {
  height: 30vw;
}

.height-33vw {
  height: 33.33vw;
}

.height-40vw {
  height: 40vw;
}

.height-50vw {
  height: 50vw;
}

.height-60vw {
  height: 60vw;
}

.height-70vw {
  height: 70vw;
}

.height-80vw {
  height: 80vw;
}

.height-90vw {
  height: 90vw;
}

.height-100vw {
  height: 100vw;
}

.width-10vh {
  width: 10vh;
}

.width-20vh {
  width: 20vh;
}

.width-30vh {
  width: 30vh;
}

.width-33vh {
  width: 33.33vh;
}

.width-40vh {
  width: 40vh;
}

.width-50vh {
  width: 50vh;
}

.width-60vh {
  width: 60vh;
}

.width-70vh {
  width: 70vh;
}

.width-80vh {
  width: 80vh;
}

.width-90vh {
  width: 90vh;
}

.width-100vh {
  width: 100vh;
}

.width-10vw {
  width: 10vw;
}

.width-20vw {
  width: 20vw;
}

.width-30vw {
  width: 30vw;
}

.width-33vw {
  width: 33.33vw;
}

.width-40vw {
  width: 40vw;
}

.width-50vw {
  width: 50vw;
}

.width-60vw {
  width: 60vw;
}

.width-70vw {
  width: 70vw;
}

.width-80vw {
  width: 80vw;
}

.width-90vw {
  width: 90vw;
}

.width-100vw {
  width: 100vw;
}

.max-width-100px {
  max-width: 100px;
}

.max-width-200px {
  max-width: 200px;
}

.max-width-300px {
  max-width: 300px;
}

.max-width-400px {
  max-width: 400px;
}

.max-width-500px {
  max-width: 500px;
}

.max-width-600px {
  max-width: 600px;
}

.max-width-700px {
  max-width: 700px;
}

.max-width-800px {
  max-width: 800px;
}

.max-width-900px {
  max-width: 900px;
}

.max-width-1000px {
  max-width: 1000px;
}

.max-width-1200px {
  max-width: 1200px;
}

.max-width-1500px {
  max-width: 1500px;
}

.min-width-100px {
  min-width: 100px;
}

.min-width-200px {
  min-width: 200px;
}

.min-width-300px {
  min-width: 300px;
}

.min-width-400px {
  min-width: 400px;
}

.min-width-500px {
  min-width: 500px;
}

.min-width-600px {
  min-width: 600px;
}

.min-width-700px {
  min-width: 700px;
}

.min-width-800px {
  min-width: 800px;
}

.min-width-900px {
  min-width: 900px;
}

.min-width-1000px {
  min-width: 1000px;
}

.min-width-1200px {
  min-width: 1200px;
}

.min-width-1500px {
  min-width: 1500px;
}

.min-width-10vh {
  min-width: 10vh;
}

.min-width-20vh {
  min-width: 20vh;
}

.min-width-30vh {
  min-width: 30vh;
}

.min-width-40vh {
  min-width: 40vh;
}

.min-width-50vh {
  min-width: 50vh;
}

.min-width-60vh {
  min-width: 60vh;
}

.min-width-70vh {
  min-width: 70vh;
}

.min-width-80vh {
  min-width: 80vh;
}

.min-width-90vh {
  min-width: 90vh;
}

.min-width-100vh {
  min-width: 100vh;
}

.min-width-10vw {
  min-width: 10vw;
}

.min-width-20vw {
  min-width: 20vw;
}

.min-width-30vw {
  min-width: 30vw;
}

.min-width-40vw {
  min-width: 40vw;
}

.min-width-50vw {
  min-width: 50vw;
}

.min-width-60vw {
  min-width: 60vw;
}

.min-width-70vw {
  min-width: 70vw;
}

.min-width-80vw {
  min-width: 80vw;
}

.min-width-90vw {
  min-width: 90vw;
}

.min-width-100vw {
  min-width: 100vw;
}

.height-100px {
  height: 100px;
}

.height-200px {
  height: 200px;
}

.height-300px {
  height: 300px;
}

.height-400px {
  height: 400px;
}

.height-500px {
  height: 500px;
}

.height-600px {
  height: 600px;
}

.height-700px {
  height: 700px;
}

.height-800px {
  height: 800px;
}

.height-900px {
  height: 900px;
}

.height-1000px {
  height: 1000px;
}

.height-1200px {
  height: 1200px;
}

.height-1500px {
  height: 1500px;
}

.max-height-100px {
  max-height: 100px;
}

.max-height-200px {
  max-height: 200px;
}

.max-height-300px {
  max-height: 300px;
}

.max-height-400px {
  max-height: 400px;
}

.max-height-500px {
  max-height: 500px;
}

.max-height-600px {
  max-height: 600px;
}

.max-height-700px {
  max-height: 700px;
}

.max-height-800px {
  max-height: 800px;
}

.max-height-900px {
  max-height: 900px;
}

.max-height-1000px {
  max-height: 1000px;
}

.max-height-1200px {
  max-height: 1200px;
}

.max-height-1500px {
  max-height: 1500px;
}

.min-height-100px {
  min-height: 100px;
}

.min-height-200px {
  min-height: 200px;
}

.min-height-300px {
  min-height: 300px;
}

.min-height-400px {
  min-height: 400px;
}

.min-height-500px {
  min-height: 500px;
}

.min-height-600px {
  min-height: 600px;
}

.min-height-700px {
  min-height: 700px;
}

.min-height-800px {
  min-height: 800px;
}

.min-height-900px {
  min-height: 900px;
}

.min-height-1000px {
  min-height: 1000px;
}

.min-height-1200px {
  min-height: 1200px;
}

.min-height-1500px {
  min-height: 1500px;
}

.min-height-10vh {
  min-height: 10vh;
}

.min-height-20vh {
  min-height: 20vh;
}

.min-height-30vh {
  min-height: 30vh;
}

.min-height-40vh {
  min-height: 40vh;
}

.min-height-50vh {
  min-height: 50vh;
}

.min-height-60vh {
  min-height: 60vh;
}

.min-height-70vh {
  min-height: 70vh;
}

.min-height-80vh {
  min-height: 80vh;
}

.min-height-90vh {
  min-height: 90vh;
}

.min-height-100vh {
  min-height: 100vh;
}

.min-height-10vw {
  min-height: 10vw;
}

.min-height-20vw {
  min-height: 20vw;
}

.min-height-30vw {
  min-height: 30vw;
}

.min-height-40vw {
  min-height: 40vw;
}

.min-height-50vw {
  min-height: 50vw;
}

.min-height-60vw {
  min-height: 60vw;
}

.min-height-70vw {
  min-height: 70vw;
}

.min-height-80vw {
  min-height: 80vw;
}

.min-height-90vw {
  min-height: 90vw;
}

.min-height-100vw {
  min-height: 100vw;
}

/**
* Gradientes
*/
.backdrop-gradient-tobottom-90 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #fcfaf5 90%);
}

.backdrop-gradient-tobottom-80 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #fcfaf5 80%);
}

.backdrop-gradient-tobottom-50 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #fcfaf5 50%);
}

.backdrop-gradient-tobottom-30 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #fcfaf5 30%);
}

.backdrop-gradient-tobottom-10 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #fcfaf5 10%);
}

.backdrop-dark-flat-0 {
  background-color: transparent;
}

.backdrop-dark-flat-10 {
  background-color: rgba(0, 0, 0, 0.1);
}

.backdrop-dark-flat-20 {
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop-dark-flat-30 {
  background-color: rgba(0, 0, 0, 0.3);
}

.backdrop-dark-flat-40 {
  background-color: rgba(0, 0, 0, 0.4);
}

.backdrop-dark-flat-50 {
  background-color: rgba(0, 0, 0, 0.5);
}

.backdrop-dark-flat-60 {
  background-color: rgba(0, 0, 0, 0.6);
}

.backdrop-dark-flat-70 {
  background-color: rgba(0, 0, 0, 0.7);
}

.backdrop-dark-flat-80 {
  background-color: rgba(0, 0, 0, 0.8);
}

.backdrop-dark-flat-90 {
  background-color: rgba(0, 0, 0, 0.9);
}

/**
* Ornaments
*/
.ornament-point-before-amper + .ornament-point-before-amper::before,
.ornament-point-before::before {
  content: '·';
  margin-right: 5px;
  font-weight: normal;
  opacity: 0.5;
}

.ornament-or-before-amper + .ornament-or-before-amper::before {
  content: 'or';
  font-weight: normal;
  opacity: 0.5;
}

.ornament-ampersand-before-amper + .ornament-ampersand-before-amper::before {
  content: '&';
  font-weight: normal;
  opacity: 0.5;
}

.ornament-line-before-amper + .ornament-line-before-amper::before {
  content: '—';
  font-weight: normal;
  opacity: 0.8;
}

/* link related */
.classic-link:hover, .classic-link-inside a:hover {
  text-decoration: underline;
}

/**
* Link color balnco
*/
html .link-white-color {
  color: #fff !important;
}
html .link-white-color a {
  color: #fff !important;
}

/**
* white color text
*/
html .font-white-color {
  color: #FCFAF5 !important;
}
html .font-white-color * {
  color: #FCFAF5 !important;
}

/**
* button behaviors for any element
*/
.button-behaviour {
  transition: transform 0.250s ease;
  /* --- */
}
.button-behaviour:hover {
  opacity: 0.9;
}
.button-behaviour:active {
  transform: scale(0.98);
}
.button-behaviour.md-whiteframe-2dp:hover {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}
.button-behaviour.md-whiteframe-2dp:active {
  box-shadow: none;
}

/**
* --------- RESPONSIVE FIXES ----------------------
*/
@media only screen and (max-width: 960px) {
  /**
  * This class causes all the classes within the element that contain this class and related to the padding to adjust to a lower resolution by lowering the padding
  */
  .use-responsive-padding-fixes {
    /* Helpers  padding space */
  }
  .use-responsive-padding-fixes .padding-left-0 {
    padding-left: 0px;
  }
  .use-responsive-padding-fixes .padding-right-0 {
    padding-right: 0px;
  }
  .use-responsive-padding-fixes .padding-top-0 {
    padding-top: 0px;
  }
  .use-responsive-padding-fixes .padding-bottom-0 {
    padding-bottom: 0px;
  }
  .use-responsive-padding-fixes .padding-both-0 {
    padding: 0px;
  }
  .use-responsive-padding-fixes .padding-left-5 {
    padding-left: 5px;
  }
  .use-responsive-padding-fixes .padding-right-5 {
    padding-right: 5px;
  }
  .use-responsive-padding-fixes .padding-top-5 {
    padding-top: 5px;
  }
  .use-responsive-padding-fixes .padding-bottom-5 {
    padding-bottom: 5px;
  }
  .use-responsive-padding-fixes .padding-both-5 {
    padding: 5px;
  }
  .use-responsive-padding-fixes .padding-left-10 {
    padding-left: 8px;
  }
  .use-responsive-padding-fixes .padding-right-10 {
    padding-right: 8px;
  }
  .use-responsive-padding-fixes .padding-top-10 {
    padding-top: 8px;
  }
  .use-responsive-padding-fixes .padding-bottom-10 {
    padding-bottom: 8px;
  }
  .use-responsive-padding-fixes .padding-both-10 {
    padding: 8px;
  }
  .use-responsive-padding-fixes .padding-left-20 {
    padding-left: 12px;
  }
  .use-responsive-padding-fixes .padding-right-20 {
    padding-right: 12px;
  }
  .use-responsive-padding-fixes .padding-top-20 {
    padding-top: 12px;
  }
  .use-responsive-padding-fixes .padding-bottom-20 {
    padding-bottom: 12px;
  }
  .use-responsive-padding-fixes .padding-both-20 {
    padding: 12px;
  }
  .use-responsive-padding-fixes .padding-left-30 {
    padding-left: 15px;
  }
  .use-responsive-padding-fixes .padding-right-30 {
    padding-right: 15px;
  }
  .use-responsive-padding-fixes .padding-top-30 {
    padding-top: 15px;
  }
  .use-responsive-padding-fixes .padding-bottom-30 {
    padding-bottom: 15px;
  }
  .use-responsive-padding-fixes .padding-both-30 {
    padding: 15px;
  }
  .use-responsive-padding-fixes .padding-left-40 {
    padding-left: 20px;
  }
  .use-responsive-padding-fixes .padding-right-40 {
    padding-right: 20px;
  }
  .use-responsive-padding-fixes .padding-top-40 {
    padding-top: 20px;
  }
  .use-responsive-padding-fixes .padding-bottom-40 {
    padding-bottom: 20px;
  }
  .use-responsive-padding-fixes .padding-both-40 {
    padding: 20px;
  }
  .use-responsive-padding-fixes .padding-left-50 {
    padding-left: 30px;
  }
  .use-responsive-padding-fixes .padding-right-50 {
    padding-right: 30px;
  }
  .use-responsive-padding-fixes .padding-top-50 {
    padding-top: 30px;
  }
  .use-responsive-padding-fixes .padding-bottom-50 {
    padding-bottom: 30px;
  }
  .use-responsive-padding-fixes .padding-both-50 {
    padding: 30px;
  }

  .use-responsive-padding-fixes-only-width {
    /* Helpers  padding space */
  }
  .use-responsive-padding-fixes-only-width .padding-left-0 {
    padding-left: 0px;
  }
  .use-responsive-padding-fixes-only-width .padding-right-0 {
    padding-right: 0px;
  }
  .use-responsive-padding-fixes-only-width .padding-both-0 {
    padding: 00px;
  }
  .use-responsive-padding-fixes-only-width .padding-left-5 {
    padding-left: 5px;
  }
  .use-responsive-padding-fixes-only-width .padding-right-5 {
    padding-right: 5px;
  }
  .use-responsive-padding-fixes-only-width .padding-both-5 {
    padding: 5px;
  }
  .use-responsive-padding-fixes-only-width .padding-left-10 {
    padding-left: 8px;
  }
  .use-responsive-padding-fixes-only-width .padding-right-10 {
    padding-right: 8px;
  }
  .use-responsive-padding-fixes-only-width .padding-both-10 {
    padding-left: 8px;
    padding-right: 8px;
  }
  .use-responsive-padding-fixes-only-width .padding-left-20 {
    padding-left: 12px;
  }
  .use-responsive-padding-fixes-only-width .padding-right-20 {
    padding-right: 12px;
  }
  .use-responsive-padding-fixes-only-width .padding-both-20 {
    padding-left: 12px;
    padding-right: 12px;
  }
  .use-responsive-padding-fixes-only-width .padding-left-30 {
    padding-left: 15px;
  }
  .use-responsive-padding-fixes-only-width .padding-right-30 {
    padding-right: 15px;
  }
  .use-responsive-padding-fixes-only-width .padding-both-30 {
    padding-left: 15px;
    padding-right: 15px;
  }
  .use-responsive-padding-fixes-only-width .padding-left-40 {
    padding-left: 20px;
  }
  .use-responsive-padding-fixes-only-width .padding-right-40 {
    padding-right: 20px;
  }
  .use-responsive-padding-fixes-only-width .padding-both-40 {
    padding-left: 20px;
    padding-right: 20px;
  }
  .use-responsive-padding-fixes-only-width .padding-left-50 {
    padding-left: 30px;
  }
  .use-responsive-padding-fixes-only-width .padding-right-50 {
    padding-right: 30px;
  }
  .use-responsive-padding-fixes-only-width .padding-both-50 {
    padding-left: 30px;
    padding-right: 30px;
  }
}
/**
* Typography
*/
.font-sans {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue;
}

.font-serif {
  font-family: Constantia, Lucida Bright, Lucidabright, Lucida Serif, Lucida, DejaVu Serif, Bitstream Vera Serif, Liberation Serif, Georgia, serif;
}

.font-mono {
  font-family: Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
}

/* Text styles */
/* Helpers  text align */
.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

/* text shadows */
.text-shadow-1 {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

/**
* Font sizes
*/
.typo-size-xxxxlarge, .text-size-4xlarge {
  font-size: 3em;
  line-height: 1em;
}

.typo-size-xxxlarge, .text-size-3xlarge {
  font-size: 2.8em;
  line-height: 1em;
}

.typo-size-xxlarge, .text-size-2xlarge {
  font-size: 2.1em;
  line-height: 1.1em;
}

.typo-size-xlarge, .text-size-xlarge {
  font-size: 1.8em;
  line-height: 1.2em;
}

.typo-size-large, .text-size-large {
  font-size: 1.65em;
  line-height: 1.2em;
}

.typo-size-medium, .text-size-medium {
  font-size: 1.4em;
  line-height: 1.3em;
}

.typo-size-base, .text-size-base {
  font-size: 1em;
  line-height: 1.5em;
}

.typo-size-small, .text-size-small {
  font-size: 0.9em;
  line-height: 1.3em;
}

.typo-size-xsmall, .text-size-xsmall {
  font-size: 0.8em;
  line-height: 1.4em;
}

.typo-size-xxsmall, .text-size-2xsmall {
  font-size: 0.7em;
  line-height: 1.2em;
}

/**
* Font weights
*/
.typo-weight-100, .font-weight-100, .font-weight-hairline {
  font-weight: 100;
}

.typo-weight-200, .font-weight-200, .font-weight-thin {
  font-weight: 200;
}

.typo-weight-300, .font-weight-300, .font-weight-light {
  font-weight: 300;
}

.typo-weight-400, .font-weight-400, .font-weight-normal {
  font-weight: 400;
}

.typo-weight-500, .font-weight-500, .font-weight-medium {
  font-weight: 500;
}

.typo-weight-600, .font-weight-600, .font-weight-semibold {
  font-weight: 600;
}

.typo-weight-700, .font-weight-700, .font-weight-bold {
  font-weight: 700;
}

.typo-weight-800, .font-weight-800, .font-weight-extrabold {
  font-weight: 700;
}

.typo-weight-900, .font-weight-900, .font-weight-black {
  font-weight: 700;
}

/**
* Font line height
*/
.leading-none, .line-height-1 {
  line-height: 1;
}

.leading-tight, .line-height-1dot25 {
  line-height: 1.25;
}

.leading-normal, .line-height-1dot5 {
  line-height: 1.5;
}

.leading-loose, .line-height-2 {
  line-height: 2;
}

/**
* font: Whitespace & Wrapping
*/
.white-space-normal {
  white-space: normal;
}

.white-space-nowrap {
  white-space: nowrap;
}

.white-space-pre {
  white-space: pre;
}

.white-space-pre-line {
  white-space: pre-line;
}

.white-space-pre-wrap {
  white-space: pre-wrap;
}

.white-space-inherit {
  white-space: inherit;
}

@media only screen and (max-width: 600px) {
  .use-responsive-text-sizes-fixes .typo-size-xxxxlarge, .use-responsive-text-sizes-fixes .text-size-4xlarge,
  .typography-responsive .typo-size-xxxxlarge,
  .typography-responsive .text-size-4xlarge {
    font-size: 2em;
    line-height: 1em;
  }
  .use-responsive-text-sizes-fixes .typo-size-xxxlarge, .use-responsive-text-sizes-fixes .text-size-3xlarge,
  .typography-responsive .typo-size-xxxlarge,
  .typography-responsive .text-size-3xlarge {
    font-size: 1.8em;
    line-height: 1em;
  }
  .use-responsive-text-sizes-fixes .typo-size-xxlarge, .use-responsive-text-sizes-fixes .text-size-2xlarge,
  .typography-responsive .typo-size-xxlarge,
  .typography-responsive .text-size-2xlarge {
    font-size: 1.65em;
    line-height: 1.1em;
  }
  .use-responsive-text-sizes-fixes .typo-size-xlarge, .use-responsive-text-sizes-fixes .text-size-xlarge,
  .typography-responsive .typo-size-xlarge,
  .typography-responsive .text-size-xlarge {
    font-size: 1.45em;
    line-height: 1.2em;
  }
  .use-responsive-text-sizes-fixes .typo-size-large, .use-responsive-text-sizes-fixes .text-size-large,
  .typography-responsive .typo-size-large,
  .typography-responsive .text-size-large {
    font-size: 1.25em;
    line-height: 1.2em;
  }
  .use-responsive-text-sizes-fixes .typo-size-medium, .use-responsive-text-sizes-fixes .text-size-medium,
  .typography-responsive .typo-size-medium,
  .typography-responsive .text-size-medium {
    font-size: 1.05em;
    line-height: 1.3em;
  }
  .use-responsive-text-sizes-fixes .typo-size-base, .use-responsive-text-sizes-fixes .text-size-base,
  .typography-responsive .typo-size-base,
  .typography-responsive .text-size-base {
    font-size: 0.80em;
    line-height: 1.3em;
  }
  .use-responsive-text-sizes-fixes .typo-size-small, .use-responsive-text-sizes-fixes .text-size-small,
  .typography-responsive .typo-size-small,
  .typography-responsive .text-size-small {
    font-size: 0.75em;
    line-height: 1.3em;
  }
  .use-responsive-text-sizes-fixes .typo-size-xsmall, .use-responsive-text-sizes-fixes .text-size-xsmall,
  .typography-responsive .typo-size-xsmall,
  .typography-responsive .text-size-xsmall {
    font-size: 0.7em;
    line-height: 1.4em;
  }
  .use-responsive-text-sizes-fixes .typo-size-xxsmall, .use-responsive-text-sizes-fixes .text-size-2xsmall,
  .typography-responsive .typo-size-xxsmall,
  .typography-responsive .text-size-2xsmall {
    font-size: 0.6em;
    line-height: 1.2em;
  }
}
/**
* Masonry
*/
/**
masonry!
*/
.masonry-layout {
  column-count: 3;
  -webkit-column-count: 3;
  column-gap: 0;
  -webkit-column-gap: 0;
}

.masonry-layout__panel {
  break-inside: avoid;
  -webkit-column-break-inside: avoid;
}

#template-search-form .search-form {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}
#template-search-form .search-form .screen-reader-text {
  display: none;
}
#template-search-form .search-form input.search-field {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  padding: 15px;
  font-size: 20px;
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}
#template-search-form .search-form input.search-submit {
  display: none;
}

/**
* Widgets
*/
/* ---- general ------------ */
.site-sidenav .section {
  /* ------- widget nav menu ---------------------------- */
}
.site-sidenav .section select {
  width: 100%;
  max-width: 100%;
  position: relative;
  overflow: auto;
}
.site-sidenav .section img {
  max-width: 100%;
  height: auto;
}
.site-sidenav .section .screen-reader-text {
  display: none;
}
.site-sidenav .section .widget ul li {
  display: block;
  position: relative;
}
.site-sidenav .section .widget ul li a {
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
}
.site-sidenav .section .widget ul li + li {
  border-style: dashed;
  border-color: rgba(0, 0, 0, 0.08);
  border-width: 1px 0 0 0;
}
.site-sidenav .section .widget li ul {
  border-style: dashed;
  border-color: rgba(0, 0, 0, 0.2);
  border-width: 0px 0 0 1px;
  padding-left: 20px;
}
.site-sidenav .section .widget ul ul {
  /*margin-left:10px;*/
  margin-bottom: 15px;
}
.site-sidenav .section .widget ul ul li:before {
  position: absolute;
  top: 21px;
  left: -20px;
  float: right;
  content: '';
  width: 15px;
  height: 2px;
  border-style: dashed;
  border-color: rgba(0, 0, 0, 0.2);
  border-width: 1px 0 0 0;
}
.site-sidenav .section .widget_nav_menu {
  position: relative;
}
@media only screen and (min-width: 960px) {
  .site-sidenav .section .widget_nav_menu ul li {
    overflow: hidden;
    position: relative;
  }
  .site-sidenav .section .widget_nav_menu ul ul {
    margin-bottom: 0;
  }
  .site-sidenav .section .widget_nav_menu li.menu-item-has-children:after {
    font-family: "icons";
    position: absolute;
    top: 12px;
    opacity: 0.5;
    right: 5px;
    float: right;
    content: '\e821';
  }
  .site-sidenav .section .widget_nav_menu li.menu-item-has-children:hover:after {
    opacity: 1;
  }
  .site-sidenav .section .widget_nav_menu li ul {
    /* this targets all sub menus */
    overflow-y: hidden;
    text-align: left;
    border-radius: 2px;
    opacity: 0;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    max-height: 0;
    margin-bottom: 0px;
  }
  .site-sidenav .section .widget_nav_menu li:before {
    margin-right: 0.5em;
  }
  .site-sidenav .section .widget_nav_menu ul li:hover > ul {
    opacity: 1;
    pointer-events: auto;
    max-height: 1000px;
    margin-bottom: 15px;
  }
}

/* --------------------------- */
.widget.widget_search .screen-reader-text {
  display: none;
}
.widget.widget_search input[type="search"] {
  border-radius: 3px;
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #f0f0f0;
  background-color: #fff;
  width: 100%;
  box-sizing: border-box;
}
.widget.widget_search input[type="submit"] {
  display: none;
}

.widget + .widget {
  margin-top: 20px;
}

/* ---------- archive --------------------------------- */
.widget_archive label {
  display: block;
}
.widget_archive ul li {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 4px;
}
.widget_archive select {
  margin-top: 15px;
  width: 100%;
}

/* ----------- recent comments ------------------------ */
.widget_recent_comments ul li {
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
}
.widget_recent_comments ul li + li {
  border-style: dashed;
  border-color: rgba(0, 0, 0, 0.08);
  border-width: 1px 0 0 0;
}

/* -------------- widget RSS ----------------------- */
.widget_rss ul li {
  padding-top: 15px;
  padding-bottom: 15px;
  display: block;
}
.widget_rss .rssSummary {
  font-size: 0.9em;
  padding-top: 5px;
  padding-bottom: 5px;
  opacity: 0.9;
}
.widget_rss .rss-date {
  font-size: 0.8em;
}
.widget_rss cite {
  font-size: 0.9em;
}
.widget_rss ul li + li {
  border-style: dashed;
  border-color: rgba(0, 0, 0, 0.08);
  border-width: 1px 0 0 0;
}

/* -------------- Calendar ------------------------ */
#wp-calendar {
  width: 100%;
  font-size: 11px;
}

#wp-calendar thead th {
  background: #f5f5f5;
  border: 1px solid #ddd;
  border-top: none;
  font-size: 11px;
}

#wp-calendar tbody td {
  text-align: center;
  border: 1px solid #ddd;
  line-height: 2.5em;
  transition: background 0.15s ease;
  -webkit-transition: background 0.15s ease;
  -o-transition: background 0.15s ease;
  -moz-transition: background 0.15s ease;
}

#wp-calendar tbody td:hover {
  background: #f1f1f1;
  color: #333;
}

#wp-calendar tbody td a {
  display: block;
  text-decoration: none;
  background: #f1f1f1;
  color: #333;
}

#wp-calendar tbody td:hover a {
  background: #4d4d4d;
  color: #fff;
}

#wp-calendar tfoot td {
  padding-top: 1px;
  padding: 4px;
}

#wp-calendar caption {
  cursor: pointer;
  font-size: 13px;
  text-transform: uppercase;
  margin: 0;
  padding: 12px;
  outline: 0 none !important;
  background: #3b86b0;
  color: #fff;
}

#wp-calendar tbody a {
  display: block;
  text-decoration: underline;
}

#wp-calendar th {
  text-align: center;
  border: 1px solid transparent;
  border-top: none;
  padding: 7px 0;
  color: #a7a7a7;
}

#footer #wp-calendar thead th {
  background: #222;
}

#footer #wp-calendar tbody td {
  border-color: #222;
}

#site-header-wrap {
  bottom: 0;
  position: relative;
  z-index: 1;
}

.menu-site-menu-container ul li {
  position: relative;
}

.menu-site-menu-container ul li a {
  color: #fff;
  display: inline-block;
  padding: 5px;
}

.menu-site-menu-container ul li:before {
  color: #fff;
  margin-right: 5px;
}

.menu-site-menu-container ul li + li {
  margin-left: 10px;
}

.menu-site-menu-container ul ul {
  /* this targets all sub menus */
  position: absolute;
  background-color: #232323;
  color: #ccc;
  text-align: left;
  left: 0;
  z-index: -1;
  border-radius: 2px;
  opacity: 0;
  bottom: 22px;
  /* this should be the same height as the top level menu -- height + padding + borders */
  border-style: solid;
  border-color: #ccc;
  border-width: 2px;
  -webkit-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
}

.menu-site-menu-container ul ul ul {
  display: none !important;
}

.menu-site-menu-container ul ul::after {
  content: '';
  top: 100%;
  left: 0%;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: transparent;
  border-top-color: #ccc;
  border-width: 10px;
  margin-left: 10px;
}

.menu-site-menu-container ul ul li {
  /* this targets all submenu items */
  float: none;
  /* overwriting our float up above */
  width: 150px;
  /* set to the width you want your sub menus to be. This needs to match the value we set below */
  margin: 0;
  font-size: 14px;
}

.menu-site-menu-container ul ul li:before {
  display: none;
}

.menu-site-menu-container ul ul li + li {
  border-style: solid;
  border-width: 1px 0 0 0;
  border-color: #121212;
}

.menu-site-menu-container ul ul li a {
  /* target all sub menu item links */
  padding: 10px 15px;
  color: #ccc;
  display: block;
}

.menu-site-menu-container ul ul li a:hover {
  color: #fafafa;
  background-color: #111;
}

/* trigger */
.menu-site-menu-container ul li:hover > ul {
  display: block;
  /* show sub menus when hovering over a parent */
  pointer-events: auto;
  opacity: 1;
  z-index: 0;
  -webkit-transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0);
  transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0);
}

.menu-site-menu-container ul ul li ul {
  /* target all second, third, and deeper level sub menus */
  left: 150px;
  /* this needs to match the sub menu width set above -- width + padding + borders */
  top: 0;
  /* this ensures the sub menu starts in line with its parent item */
}

/*.menu-site-menu-container ul  ul {display:none}
.bottom-menu-container ul ul {display:none}*/
.bottom-menu-container ul li {
  margin: 0 5px;
}

/* material fixes */
md-icon svg {
  fill: inherit;
}

html .material-icons {
  font-size: inherit;
  vertical-align: middle;
}

/* CSSGram for fun */
/*
 *
 * Aden
 *
 */
.aden {
  position: relative;
  filter: hue-rotate(-20deg) contrast(0.9) saturate(0.85) brightness(1.2);
}
.aden img {
  width: 100%;
  z-index: 1;
}
.aden:before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  z-index: 2;
}
.aden:after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  z-index: 3;
}
.aden::after {
  background: linear-gradient(to right, rgba(66, 10, 14, 0.2), rgba(0, 0, 0, 0));
  mix-blend-mode: darken;
}

/*
 *
 * Inkwell
 *
 */
.inkwell {
  position: relative;
  filter: sepia(0.3) contrast(1.1) brightness(1.1) grayscale(1);
}
.inkwell img {
  width: 100%;
  z-index: 1;
}
.inkwell:before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  z-index: 2;
}
.inkwell:after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  z-index: 3;
}

/*
 *
 * Perpetua
 *
 */
.perpetua {
  position: relative;
}
.perpetua img {
  width: 100%;
  z-index: 1;
}
.perpetua:before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  z-index: 2;
}
.perpetua:after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  z-index: 3;
}
.perpetua::after {
  background: linear-gradient(to bottom, #005b9a, #e6c13d);
  mix-blend-mode: soft-light;
  opacity: .5;
}

/*
 *
 * Reyes
 *
 */
.reyes {
  position: relative;
  filter: sepia(0.22) brightness(1.1) contrast(0.85) saturate(0.75);
}
.reyes img {
  width: 100%;
  z-index: 1;
}
.reyes:before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  z-index: 2;
}
.reyes:after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  z-index: 3;
}
.reyes::after {
  background: #efcdad;
  mix-blend-mode: soft-light;
  opacity: .5;
}

/*
 *
 * Gingham
 *
 */
.gingham {
  position: relative;
  filter: brightness(1.05) hue-rotate(-10deg);
}
.gingham img {
  width: 100%;
  z-index: 1;
}
.gingham:before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  z-index: 2;
}
.gingham:after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  z-index: 3;
}
.gingham::after {
  background: lavender;
  mix-blend-mode: soft-light;
}

/*
 *
 * Toaster
 *
 */
.toaster {
  position: relative;
  filter: contrast(1.5) brightness(0.9);
}
.toaster img {
  width: 100%;
  z-index: 1;
}
.toaster:before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  z-index: 2;
}
.toaster:after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  z-index: 3;
}
.toaster::after {
  background: radial-gradient(circle, #804e0f, #3b003b);
  mix-blend-mode: screen;
}

/*
 *
 * Walden
 *
 */
.walden {
  position: relative;
  filter: brightness(1.1) hue-rotate(-10deg) sepia(0.3) saturate(1.6);
}
.walden img {
  width: 100%;
  z-index: 1;
}
.walden:before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  z-index: 2;
}
.walden:after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  z-index: 3;
}
.walden::after {
  background: #0044cc;
  mix-blend-mode: screen;
  opacity: .3;
}

/*
 *
 * Hudson
 *
 */
.hudson {
  position: relative;
  filter: brightness(1.2) contrast(0.9) saturate(1.1);
}
.hudson img {
  width: 100%;
  z-index: 1;
}
.hudson:before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  z-index: 2;
}
.hudson:after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  z-index: 3;
}
.hudson::after {
  background: radial-gradient(circle, #a6b1ff 50%, #342134);
  mix-blend-mode: multiply;
  opacity: .5;
}

/*
 *
 * Earlybird
 *
 */
.earlybird {
  position: relative;
  filter: contrast(0.9) sepia(0.2);
}
.earlybird img {
  width: 100%;
  z-index: 1;
}
.earlybird:before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  z-index: 2;
}
.earlybird:after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  z-index: 3;
}
.earlybird::after {
  background: radial-gradient(circle, #d0ba8e 20%, #360309 85%, #1d0210 100%);
  mix-blend-mode: overlay;
}

/*
 *
 * Mayfair
 *
 */
.mayfair {
  position: relative;
  filter: contrast(1.1) saturate(1.1);
}
.mayfair img {
  width: 100%;
  z-index: 1;
}
.mayfair:before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  z-index: 2;
}
.mayfair:after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  z-index: 3;
}
.mayfair::after {
  background: radial-gradient(circle at 40% 40%, rgba(255, 255, 255, 0.8), rgba(255, 200, 200, 0.6), #111111 60%);
  mix-blend-mode: overlay;
  opacity: .4;
}

/*
 * Lo-fi
 *
 */
.lofi {
  position: relative;
  filter: saturate(1.1) contrast(1.5);
}
.lofi img {
  width: 100%;
  z-index: 1;
}
.lofi:before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  z-index: 2;
}
.lofi:after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  z-index: 3;
}
.lofi::after {
  background: radial-gradient(circle, rgba(0, 0, 0, 0) 70%, #222222 150%);
  mix-blend-mode: multiply;
}

/*
 * 1977
 *
 */
._1977 {
  position: relative;
  filter: contrast(1.1) brightness(1.1) saturate(1.3);
}
._1977 img {
  width: 100%;
  z-index: 1;
}
._1977:before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  z-index: 2;
}
._1977:after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  z-index: 3;
}
._1977:after {
  background: rgba(243, 106, 188, 0.3);
  mix-blend-mode: screen;
}

/*
 *
 * Brooklyn
 *
 */
.brooklyn {
  position: relative;
  filter: contrast(0.9) brightness(1.1);
}
.brooklyn img {
  width: 100%;
  z-index: 1;
}
.brooklyn:before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  z-index: 2;
}
.brooklyn:after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  z-index: 3;
}
.brooklyn::after {
  background: radial-gradient(circle, rgba(168, 223, 193, 0.4) 70%, #c4b7c8);
  mix-blend-mode: overlay;
}

/*
 *
 * X-Pro II
 *
 */
.xpro2 {
  position: relative;
  filter: sepia(0.3);
}
.xpro2 img {
  width: 100%;
  z-index: 1;
}
.xpro2:before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  z-index: 2;
}
.xpro2:after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  z-index: 3;
}
.xpro2::after {
  background: radial-gradient(circle, #e6e7e0 40%, rgba(43, 42, 161, 0.6) 110%);
  mix-blend-mode: color-burn;
}

/*
 *
 * Nashville
 *
 */
.nashville {
  position: relative;
  filter: sepia(0.2) contrast(1.2) brightness(1.05) saturate(1.2);
}
.nashville img {
  width: 100%;
  z-index: 1;
}
.nashville:before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  z-index: 2;
}
.nashville:after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  z-index: 3;
}
.nashville::after {
  background: rgba(0, 70, 150, 0.4);
  mix-blend-mode: lighten;
}
.nashville::before {
  background: rgba(247, 176, 153, 0.56);
  mix-blend-mode: darken;
}

/*
 * Lark
 *
 */
.lark {
  position: relative;
  filter: contrast(0.9);
}
.lark img {
  width: 100%;
  z-index: 1;
}
.lark:before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  z-index: 2;
}
.lark:after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  z-index: 3;
}
.lark::after {
  background: rgba(242, 242, 242, 0.8);
  mix-blend-mode: darken;
}
.lark::before {
  background: #22253f;
  mix-blend-mode: color-dodge;
}

/*
 * Moon
 *
 */
.moon {
  position: relative;
  filter: grayscale(1) contrast(1.1) brightness(1.1);
}
.moon img {
  width: 100%;
  z-index: 1;
}
.moon:before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  z-index: 2;
}
.moon:after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  z-index: 3;
}
.moon::before {
  background: #a0a0a0;
  mix-blend-mode: soft-light;
}
.moon::after {
  background: #383838;
  mix-blend-mode: lighten;
}

/*
 * Clarendon
 *
 */
.clarendon {
  position: relative;
  filter: contrast(1.2) saturate(1.35);
}
.clarendon img {
  width: 100%;
  z-index: 1;
}
.clarendon:before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  z-index: 2;
}
.clarendon:after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  z-index: 3;
}
.clarendon:before {
  background: rgba(127, 187, 227, 0.2);
  mix-blend-mode: overlay;
}

/*
 * Willow
 *
 */
.willow {
  position: relative;
  filter: grayscale(0.5) contrast(0.95) brightness(0.9);
}
.willow img {
  width: 100%;
  z-index: 1;
}
.willow:before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  z-index: 2;
}
.willow:after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  z-index: 3;
}
.willow::before {
  background-color: radial-gradient(circle at 40%, #d4a9af 55%, #000000 150%);
  mix-blend-mode: overlay;
}
.willow::after {
  background-color: #d8cdcb;
  mix-blend-mode: color;
}

/*
 *
 * Rise
 *
 */
.rise {
  position: relative;
  filter: brightness(1.05) sepia(0.2) contrast(0.9) saturate(0.9);
}
.rise img {
  width: 100%;
  z-index: 1;
}
.rise:before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  z-index: 2;
}
.rise:after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  z-index: 3;
}
.rise::after {
  background: radial-gradient(circle, rgba(232, 197, 152, 0.8), rgba(0, 0, 0, 0) 90%);
  mix-blend-mode: overlay;
  opacity: .6;
}
.rise::before {
  background: radial-gradient(circle, rgba(236, 205, 169, 0.15) 55%, rgba(50, 30, 7, 0.4));
  mix-blend-mode: multiply;
}

/*
 *
 * Slumber
 *
 */
.slumber {
  position: relative;
  filter: saturate(0.66) brightness(1.05);
}
.slumber img {
  width: 100%;
  z-index: 1;
}
.slumber:before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  z-index: 2;
}
.slumber:after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  z-index: 3;
}
.slumber::after {
  background: rgba(125, 105, 24, 0.5);
  mix-blend-mode: soft-light;
}
.slumber::before {
  background: rgba(69, 41, 12, 0.4);
  mix-blend-mode: lighten;
}

/*
 *
 * Brannan
 *
 */
.brannan {
  position: relative;
  filter: sepia(0.5) contrast(1.4);
}
.brannan img {
  width: 100%;
  z-index: 1;
}
.brannan:before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  z-index: 2;
}
.brannan:after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  z-index: 3;
}
.brannan::after {
  background-color: rgba(161, 44, 199, 0.31);
  mix-blend-mode: lighten;
}

/*
 *
 * Valencia
 *
 */
.valencia {
  position: relative;
  filter: contrast(1.08) brightness(1.08) sepia(0.08);
}
.valencia img {
  width: 100%;
  z-index: 1;
}
.valencia:before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  z-index: 2;
}
.valencia:after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  z-index: 3;
}
.valencia::after {
  background: #3a0339;
  mix-blend-mode: exclusion;
  opacity: .5;
}

/*
 * Kelvin
 *
 */
.kelvin {
  position: relative;
}
.kelvin img {
  width: 100%;
  z-index: 1;
}
.kelvin:before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  z-index: 2;
}
.kelvin:after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  z-index: 3;
}
.kelvin::after {
  background: #b77d21;
  mix-blend-mode: overlay;
}
.kelvin::before {
  background: #382c34;
  mix-blend-mode: color-dodge;
}

/*
 *
 * Maven
 *
 */
.maven {
  position: relative;
  filter: sepia(0.25) brightness(0.95) contrast(0.95) saturate(1.5);
}
.maven img {
  width: 100%;
  z-index: 1;
}
.maven:before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  z-index: 2;
}
.maven:after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  z-index: 3;
}
.maven:after {
  background: rgba(3, 230, 26, 0.2);
  mix-blend-mode: hue;
}

/*
 *
 * Stinson
 *
 */
.stinson {
  position: relative;
  filter: contrast(0.75) saturate(0.85) brightness(1.15);
}
.stinson img {
  width: 100%;
  z-index: 1;
}
.stinson:before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  z-index: 2;
}
.stinson:after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  z-index: 3;
}
.stinson::before {
  background: rgba(240, 149, 128, 0.2);
  mix-blend-mode: soft-light;
}

html {
  box-sizing: border-box;
  height: auto;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

p {
  padding: 1em 0px;
}

b, strong {
  font-weight: 700;
}

i, em {
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
  padding: .8em 0;
  line-height: 0.5em;
}

h1 {
  font-size: 2.2em;
  line-height: 1.1em;
  padding: .5em 0;
}

h2 {
  font-size: 1.9em;
}

h3 {
  font-size: 1.7em;
}

h4 {
  font-size: 1.4em;
  line-height: 1.3em;
}

h5 {
  font-size: 1.2em;
  line-height: 1.4em;
}

h6 {
  font-size: 1.1em;
  line-height: 1em;
}

hr {
  display: block;
}

html, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

.screen-reader-text.wp-a11y-speak-region {
  display: none;
}

@media screen and (max-width: 600px) {
  div[id^="wpadminbar"] {
    position: fixed !important;
  }
}
/* HEADER SITE */
html .site-logo-button {
  font-size: 20px;
  line-height: 55px;
  background-size: cover;
  border-radius: 3px !important;
  background-repeat: no-repeat;
}

.site-sidenav md-tabs-canvas {
  background-color: rgba(0, 0, 0, 0.2);
}

.header-menu-wrap:hover .display-none {
  display: inline-block;
}

.header-menu-wrap .menu-handle {
  outline: none;
  transform: translateX(-25px);
}

.header-menu-wrap:hover .menu-handle {
  transform: translateX(-20px);
}

.header-menu-wrap .menu-handle > span {
  display: none;
}

.header-menu-wrap:hover .menu-handle > span {
  display: inline;
}

@media only screen and (max-width: 960px) {
  .header-menu-wrap .menu-handle > span {
    display: inline !important;
  }
}
.default-p-width {
  max-width: 700px;
}

body {
  overflow: hidden;
}
body #site-wrap {
  height: 100vh;
  overflow: hidden;
  position: relative;
}
body #site-body {
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}
body #site-body .site-body-content-wrap {
  margin: auto;
  text-align: center;
  /*min-height:100vh;*/
  /*max-width:900px;*/
}

#site-menu-block {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

html #site-wrap {
  -webkit-transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

html #site-wrap::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  background: rgba(0, 0, 0, 0.8);
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
  transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

html #site-wrap.overlay-open {
  -webkit-transition: -webkit-transform 0.55s;
  transition: transform 0.55s;
  -webkit-transform: translate3d(200px, 0, 0);
  transform: translate3d(200px, 0, 0);
  height: 100vh;
}

html #site-wrap.overlay-open::after {
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 500;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.overlay-contentpush {
  /*overflow-y: auto; */
  z-index: 10;
  /*visibility:hidden;*/
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -webkit-transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
}
.overlay-contentpush .close-site-menu {
  visibility: hidden;
}

.overlay-contentpush > div {
  overflow-y: auto;
}

.overlay-contentpush.open {
  visibility: visible;
  -webkit-transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  position: fixed;
}
.overlay-contentpush.open .close-site-menu {
  visibility: visible;
}

.post-item .card-post a {
  color: #fff;
}

.by-user + .by-user::before {
  content: "&";
  margin-right: 0.3em;
  margin-left: 0.2em;
  font-weight: normal;
  opacity: 0.5;
}

.button-behaviour:hover {
  opacity: 0.9;
}
.button-behaviour.md-whiteframe-2dp:hover {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}
.button-behaviour.md-whiteframe-2dp:active {
  box-shadow: none;
}

@media only screen and (max-width: 960px) {
  body, html {
    overflow: scroll;
  }
  body #site-wrap, html #site-wrap {
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
  }
  body #basic-sideheader .height-100vh, html #basic-sideheader .height-100vh {
    height: auto;
    min-height: 100vh;
  }
  body #basic-sideheader.max-width-400px,
  body #basic-sideheader .max-width-400px, html #basic-sideheader.max-width-400px,
  html #basic-sideheader .max-width-400px {
    max-width: 100%;
  }
}
