/**
* Styles related to the comment form
*/
.comment-list li.comment {
  margin-top: 30px;
  padding-top: 30px;
  border-style: solid;
  border-width: 2px 0 0 0;
  border-color: rgba(0, 0, 0, 0.05);
  list-style-type: none;
}
.comment-list li.comment .comment-body {
  font-size: 18px;
}
.comment-list .comment-author img {
  float: left;
  margin-right: 20px;
}
.comment-list .comment-author .comment-metadata {
  font-size: 0.7em;
}
.comment-list .comment-content {
  margin-left: 90px;
  display: block;
}
.comment-list .reply {
  text-align: right;
}

/**
* Styles related to the comment form
*/
.comments-area input {
  display: block;
  width: 100%;
  padding: 10px 15px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  outline: none;
}
.comments-area input:focus {
  border-color: rgba(0, 0, 0, 0.3);
}
.comments-area button {
  margin: 0;
  padding: 5px 20px;
  text-transform: none;
}
.comments-area button + button {
  margin-left: 10px;
}
.comments-area small {
  font-size: 0.5em;
}

.backdrop-dark-gradient-subtle {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC42NyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='), url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4xIi8+PHN0b3Agb2Zmc2V0PSI5MCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC41Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.67))), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(50%, rgba(0, 0, 0, 0.1)), color-stop(90%, rgba(0, 0, 0, 0.5)));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.67) 100%), -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.5) 90%);
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.67) 100%), -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.5) 90%);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.67) 100%), linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.5) 90%);
}

.backdrop-dark-gradient-light {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjIiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC44NyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='), url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4xIi8+PHN0b3Agb2Zmc2V0PSI5MCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC41Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.2)), color-stop(100%, rgba(0, 0, 0, 0.87))), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(50%, rgba(0, 0, 0, 0.1)), color-stop(90%, rgba(0, 0, 0, 0.5)));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.87) 100%), -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.5) 90%);
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.87) 100%), -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.5) 90%);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.87) 100%), linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.5) 90%);
}

.backdrop-dark-gradient-medium {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjUiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC44NyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='), url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4xIi8+PHN0b3Agb2Zmc2V0PSI5MCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC41Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.5)), color-stop(100%, rgba(0, 0, 0, 0.87))), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(50%, rgba(0, 0, 0, 0.1)), color-stop(90%, rgba(0, 0, 0, 0.5)));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.87) 100%), -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.5) 90%);
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.87) 100%), -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.5) 90%);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.87) 100%), linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.5) 90%);
}

.backdrop-dark-gradient-high {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjg1Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuODciLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA='), url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4xIi8+PHN0b3Agb2Zmc2V0PSI5MCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC41Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.85)), color-stop(100%, rgba(0, 0, 0, 0.87))), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(50%, rgba(0, 0, 0, 0.1)), color-stop(90%, rgba(0, 0, 0, 0.5)));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.87) 100%), -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.5) 90%);
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.87) 100%), -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.5) 90%);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.87) 100%), linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.5) 90%);
}

html .basic-sideheader .wp-custom-header {
  position: absolute;
  top: 0;
  z-index: 0;
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100vh;
}
html .basic-sideheader .wp-custom-header iframe, html .basic-sideheader .wp-custom-header video {
  object-fit: cover;
  object-position: center center;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
html .basic-sideheader .wp-custom-header iframe {
  box-sizing: border-box;
  height: 56.25vw;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  width: 177.77777778vh;
}
html .basic-sideheader .nextprev-buttons {
  border-style: solid;
  border-width: 1px 0 0 0;
  border-color: rgba(255, 255, 255, 0.15);
}
html .basic-sideheader .nextprev-buttons > span + span {
  border-style: solid;
  border-width: 0px 0px 0 1px;
  border-color: rgba(255, 255, 255, 0.15);
}
html .basic-sideheader .nextprev-buttons > span > a:hover {
  background-color: rgba(255, 255, 255, 0.15);
}
html .basic-sideheader .nextprev-buttons > span > a:focus,
html .basic-sideheader .nextprev-buttons > span > a:active {
  background-color: rgba(255, 255, 255, 0.25);
}

/**
* Styles related to the content of the post and page
*/
html .site-body-content, html .comment {
  /*
  a span {padding-left:0;padding-right:0;}
  p span {padding-left:0;padding-right:0;}
  */
  /**
  * The figure is used for special things like images with captions
  */
  /**
  * This code prevents our images from leaving the div if they are larger
  */
  /**
  * Listas
  */
       /*

      blockquote:before, blockquote:after {
          position: absolute;
          width: 60px;
          height: 60px;
          font-size: 180px;
          line-height: 1em;
          text-align:left;
          vertical-align:middle;
          opacity:0.2;
          font-style:normal;
      }
      blockquote:before {
          top: -20px;
          left: -25px;
          content: "\201C";
      }
      blockquote:after {
          bottom: 0;
          right: 0;
          content: "\201D";
      }
      */
  /**
  * Tables
  */
  /**
  * Definition lists
  */
  /**
  * Code
  */
  /**
  * Address
  */
  /** sups **/
  /* twitter widget */
  /* pasword posts! */
}
html .site-body-content > p,
html .site-body-content > span,
html .site-body-content > h1,
html .site-body-content > h2,
html .site-body-content > h3,
html .site-body-content > h4,
html .site-body-content > h5,
html .site-body-content > h6,
html .site-body-content > ul,
html .site-body-content > ol,
html .site-body-content > hr,
html .site-body-content > table,
html .site-body-content > dl,
html .site-body-content > address,
html .site-body-content > code,
html .site-body-content > blockquote,
html .site-body-content > section,
html .site-body-content > pre,
html .site-body-content > audio, html .comment > p,
html .comment > span,
html .comment > h1,
html .comment > h2,
html .comment > h3,
html .comment > h4,
html .comment > h5,
html .comment > h6,
html .comment > ul,
html .comment > ol,
html .comment > hr,
html .comment > table,
html .comment > dl,
html .comment > address,
html .comment > code,
html .comment > blockquote,
html .comment > section,
html .comment > pre,
html .comment > audio {
  margin: auto;
  padding-left: 40px;
  padding-right: 40px;
  text-align: left;
  overflow-wrap: break-word;
}
html .site-body-content .fullwidth, html .comment .fullwidth {
  max-width: 100% !important;
}
html .site-body-content .size-auto,
html .site-body-content .size-full,
html .site-body-content .size-large,
html .site-body-content .size-medium,
html .site-body-content .size-thumbnail, html .comment .size-auto,
html .comment .size-full,
html .comment .size-large,
html .comment .size-medium,
html .comment .size-thumbnail {
  max-width: 100%;
  height: auto;
}
html .site-body-content figure, html .comment figure {
  margin: auto;
  padding-top: 25px;
  padding-bottom: 25px;
  display: block;
}
html .site-body-content figure.alignleft, html .site-body-content figure.alignright,
html .site-body-content img.alignleft, html .site-body-content img.alignright, html .comment figure.alignleft, html .comment figure.alignright,
html .comment img.alignleft, html .comment img.alignright {
  margin: 0;
  display: inline-block;
  max-width: 50%;
}
html .site-body-content figure.alignleft,
html .site-body-content img.alignleft, html .comment figure.alignleft,
html .comment img.alignleft {
  margin-right: 1.5em;
  float: left;
}
html .site-body-content figure.alignright,
html .site-body-content img.alignright, html .comment figure.alignright,
html .comment img.alignright {
  margin-left: 1.5em;
  float: right;
}
html .site-body-content figure.wp-caption img, html .comment figure.wp-caption img {
  width: 100% !important;
  height: auto !important;
}
html .site-body-content figcaption, html .comment figcaption {
  margin: 0.8em 20px;
  font-size: 0.9em;
}
html .site-body-content img, html .site-body-content figure, html .comment img, html .comment figure {
  max-width: 100%;
  height: auto !important;
}
html .site-body-content iframe, html .comment iframe {
  max-width: 100%;
}
html .site-body-content .link-chip, html .comment .link-chip {
  background-color: rgba(0, 0, 0, 0.05);
}
html .site-body-content .link-chip:hover, html .comment .link-chip:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
html .site-body-content ul, html .site-body-content ol, html .comment ul, html .comment ol {
  padding: 12px;
  list-style-position: inside;
}
html .site-body-content ul li, html .comment ul li {
  list-style-type: disc;
  margin-left: 50px;
}
html .site-body-content ol li, html .comment ol li {
  list-style-type: decimal;
  margin-left: 50px;
}
html .site-body-content ul li::before, html .site-body-content ol li::before, html .comment ul li::before, html .comment ol li::before {
  opacity: 0.7;
  display: inline-block;
  font-size: 0.9em;
  font-family: sans-serif;
}
html .site-body-content blockquote, html .comment blockquote {
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  padding: 10px 30px;
  border-color: rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.03);
  border-style: solid;
  border-width: 0 0 0 4px;
}
html .site-body-content table td, html .site-body-content table th, html .comment table td, html .comment table th {
  padding: 10px;
  font-size: 0.9em;
}
html .site-body-content table tr:nth-child(even), html .comment table tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.05);
}
html .site-body-content table tr, html .comment table tr {
  padding-left: 20px;
  padding-right: 20px;
}
html .site-body-content table tbody, html .comment table tbody {
  display: block;
  padding: 0px 0px;
  margin: 0 40px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.08);
}
html .site-body-content dl dt, html .comment dl dt {
  font-weight: 600;
}
html .site-body-content dl dd, html .comment dl dd {
  margin-top: 4px;
  margin-left: 20px;
  font-size: 0.9em;
}
html .site-body-content dl dd + dt, html .comment dl dd + dt {
  margin-top: 20px;
}
html .site-body-content code, html .site-body-content pre, html .comment code, html .comment pre {
  font-family: courier, sans-serif;
  padding: 0;
  background-color: black;
  color: white;
  font-size: 0.8em;
  padding: 5px 10px;
  border-radius: 3px;
  overflow: scroll;
  line-height: 0.9em;
}
html .site-body-content address, html .comment address {
  text-align: left;
}
html .site-body-content sup, html .comment sup {
  vertical-align: super;
  font-size: 60%;
  margin-left: 2px;
  padding-left: 4px;
  padding-right: 4px;
  font-family: sans-serif;
  border-radius: 25px;
  border-style: solid;
  border-width: 1px;
}
html .site-body-content .twitter-tweet, html .comment .twitter-tweet {
  margin-left: auto;
  margin-right: auto;
}
html .site-body-content .wp-audio-shortcode, html .comment .wp-audio-shortcode {
  max-width: 740px;
  margin: auto;
}
html .site-body-content .post-password-form, html .comment .post-password-form {
  max-width: 500px;
  margin: auto;
  padding: 40px;
  text-align: left;
}
html .site-body-content .post-password-form label input, html .comment .post-password-form label input {
  border-style: solid;
  border-color: #ccc;
  border-width: 1px 1px 1px 5px;
  border-radius: 3px;
  padding: 5px;
  height: 50px;
  margin: 0;
  line-height: 50px;
  outline: none;
  text-align: center;
}
html .site-body-content .post-password-form label input:hover, html .comment .post-password-form label input:hover {
  border-color: #999;
}
html .site-body-content .post-password-form label input:focus, html .comment .post-password-form label input:focus {
  border-color: #353535;
}
html .site-body-content .post-password-form input[type=submit], html .comment .post-password-form input[type=submit] {
  border-style: solid;
  border-color: #c0c0c0;
  border-width: 1px;
  border-radius: 0 3px 3px 0;
  padding: 5px 10px;
  font-size: 14px;
  height: 50px;
  margin: 0;
  line-height: 50px;
  display: none;
}

/**
* gutenberg elements
*/
html .site-body-content {
  /**
  * Separator
  */
  /**
  * Button
  */
  /**
  * Galleries -----------------------------------------------
  */
  /**
  * Text columns ---------------------------------------
  */
  /*
  .wp-block-gallery + .wp-block-gallery {
      margin-top:0;
  }
  .wp-block-gallery:nth-last-child(1) {
    margin-bottom:2em;
  }
  */
  /* WIDGETS: latests posts */
  /* WIDGETS: categories */
}
html .site-body-content .wp-block-separator {
  margin: 4em auto 4em auto;
  max-width: 400px;
}
html .site-body-content .wp-block-separator p {
  padding-left: 0px;
}
html .site-body-content .wp-block-button a {
  color: #fff;
}
html .site-body-content .wp-block-gallery {
  padding: 5px;
  position: relative;
  overflow: auto;
  /* margin-top:2em; */
}
html .site-body-content .wp-block-gallery .blocks-gallery-image {
  margin: 0px;
  padding: 5px;
  display: inline-block;
  float: left;
}
html .site-body-content .wp-block-gallery .blocks-gallery-image img {
  vertical-align: top;
  margin: 0;
  display: block;
}
html .site-body-content .wp-block-gallery.columns-2 .blocks-gallery-image {
  width: 50%;
}
html .site-body-content .wp-block-gallery.columns-3 .blocks-gallery-image {
  width: 33.33%;
}
html .site-body-content .wp-block-gallery.columns-4 .blocks-gallery-image {
  width: 25%;
}
html .site-body-content .wp-block-gallery.columns-5 .blocks-gallery-image {
  width: 20%;
}
@media only screen and (max-width: 960px) {
  html .site-body-content .wp-block-text-columns {
    display: block;
  }
  html .site-body-content .wp-block-text-columns .wp-block-column {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    margin: 0px;
    padding: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  html .site-body-content .wp-block-text-columns .wp-block-column + .wp-block-column {
    margin-top: 2em;
  }
}
html .site-body-content .wp-block-latest-posts {
  list-style-position: outside;
}
html .site-body-content .wp-block-latest-posts li {
  list-style-type: none;
}
html .site-body-content .wp-block-latest-posts.is-grid {
  padding: 20px;
}
@media only screen and (max-width: 960px) {
  html .site-body-content .wp-block-latest-posts,
  html .site-body-content .wp-block-latest-posts.columns-2,
  html .site-body-content .wp-block-latest-posts.columns-3
  .wp-block-latest-posts.columns-4,
  html .site-body-content .wp-block-latest-posts.columns-5 {
    display: block;
  }
  html .site-body-content .wp-block-latest-posts li,
  html .site-body-content .wp-block-latest-posts.columns-2 li,
  html .site-body-content .wp-block-latest-posts.columns-3
  .wp-block-latest-posts.columns-4 li,
  html .site-body-content .wp-block-latest-posts.columns-5 li {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}
html .site-body-content .wp-block-categories {
  list-style-position: outside;
}
html .site-body-content .wp-block-categories.alignright {
  text-align: right;
}
html .site-body-content .wp-block-categories.aligncenter {
  text-align: center;
}
html .site-body-content .wp-block-categories.alignleft {
  text-align: left;
}

html #site-body .site-body-content-wrap .site-body-content .gallery {
  max-width: none;
  text-align: center;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
html #site-body .site-body-content-wrap .site-body-content .gallery .blocks-gallery-image,
html #site-body .site-body-content-wrap .site-body-content .gallery .gallery-item {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}
html #site-body .site-body-content-wrap .site-body-content .gallery .blocks-gallery-image img,
html #site-body .site-body-content-wrap .site-body-content .gallery .gallery-item img {
  width: 100%;
  display: block;
  margin: 0;
}
html #site-body .site-body-content-wrap .site-body-content .gallery .blocks-gallery-image .wp-caption-text,
html #site-body .site-body-content-wrap .site-body-content .gallery .gallery-item .wp-caption-text {
  position: absolute;
  display: block;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 13px;
  border-radius: 2px;
  color: #fff;
  padding: 5px 10px;
  line-height: 1.2em;
  font-family: sans-serif;
  cursor: default;
  text-align: left;
}
html #site-body .site-body-content-wrap .site-body-content .gallery .gallery-item:hover .wp-caption-text {
  background-color: rgba(0, 0, 0, 0.9);
}
html #site-body .site-body-content-wrap .site-body-content .gallery.gallery-columns-2.gallery-size-ktt_square500 {
  max-width: 1200px;
}
html #site-body .site-body-content-wrap .site-body-content .gallery.gallery-columns-3.gallery-size-ktt_square500 {
  max-width: 1800px;
}
html #site-body .site-body-content-wrap .site-body-content .gallery.gallery-columns-2 .gallery-item {
  width: 50%;
}
html #site-body .site-body-content-wrap .site-body-content .gallery.gallery-columns-3 .gallery-item {
  width: 33.33%;
}
html #site-body .site-body-content-wrap .site-body-content .gallery.gallery-columns-4 .gallery-item {
  width: 25%;
}
html #site-body .site-body-content-wrap .site-body-content .gallery.gallery-columns-5 .gallery-item {
  width: 20%;
}

html #site-body .site-body-content-wrap .site-body-content .gallery + .gallery {
  margin-top: 0;
}

html #site-body .site-body-content-wrap .site-body-content .gallery:last-child {
  margin-bottom: 50px;
}

@media only screen and (max-width: 600px) {
  html #site-body .site-body-content-wrap .site-body-content .gallery .gallery-item,
  html #site-body .site-body-content-wrap .site-body-content .gallery.gallery-columns-2 .gallery-item,
  html #site-body .site-body-content-wrap .site-body-content .gallery.gallery-columns-3 .gallery-item,
  html #site-body .site-body-content-wrap .site-body-content .gallery.gallery-columns-4 .gallery-item,
  html #site-body .site-body-content-wrap .site-body-content .gallery.gallery-columns-5 .gallery-item {
    width: 100%;
  }
}
/* material fixes */
md-icon svg {
  fill: inherit;
}

html .material-icons {
  font-size: inherit;
  vertical-align: middle;
}

/* Breadcrumbs */
#breadcrumbs {
  list-style: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#breadcrumbs li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  margin-left: 0;
}

#breadcrumbs li + li:before {
  content: "\2192";
  margin-right: 8px;
}

/**
* Single sideheader
*/
.post-header .post-header-content {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjIiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC44NyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='), url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4xIi8+PHN0b3Agb2Zmc2V0PSI5MCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC41Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.2)), color-stop(100%, rgba(0, 0, 0, 0.87))), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(50%, rgba(0, 0, 0, 0.1)), color-stop(90%, rgba(0, 0, 0, 0.5)));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.87) 100%), -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.5) 90%);
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.87) 100%), -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.5) 90%);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.87) 100%), linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.5) 90%);
}
.post-header .share-wrap {
  top: 10%;
  position: absolute;
  right: -34px;
  z-index: 40;
  width: 68px;
}
.post-header .share-wrap .share-button {
  margin-left: auto;
  margin-right: auto;
  font-size: 1em;
  width: 56px;
  height: 56px;
  line-height: 56px;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(0, 0, 0, 0.3);
}
.post-header .share-wrap .share-button + .share-button {
  margin-top: 10px;
}
.post-header .post-item-title {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.8);
}
.post-header .post-item-subtitle {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.8);
  opacity: 0.5;
}
.post-header .post-item-subtitle b, .post-header .post-item-subtitle strong {
  opacity: 1;
}
.post-header .post-item-meta a:hover {
  text-decoration: underline;
}
.post-header .by-user + .by-user::before {
  content: "&";
  margin-right: 5px;
  font-weight: normal;
  opacity: 0.5;
}
.post-header hr {
  border-style: solid;
  border-width: 1px 0 0 0;
  opacity: 0.2;
}
